.box-container {
    width: 100%;
}

.box-text {
    margin-top: 20px;
}

.box-select {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.box-submit {
    margin-top: 30px;
}
