@import '../../styles/variable.scss';

.input-style {
    width: 450px;
    outline: none;
    height: 30px;
}

@media only screen and (max-width: $table) {
    .input-style {
        width: 300px;
    }
}
